<nav class="navbar navbar-expand-lg navbar-dark bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BANCO SOTEROPOLIS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cadastrar" aria-current="page" href="#"
            >Cadastro de transferencia</a
          >
        <!-- </li>
        <li class="nav-item">
          <a class="nav-link"
            >Cadastro de Transferência</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dataBindings">bindings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pipes">pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cep">cep</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
